* {
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


nav {
    position: fixed;
}

.navbar-brand img {
    border-radius: 50%;
}

.navbar-brand span {
    font-size: 20px;
    color: white;
}

.navbar-brand span:hover {
    color: #009688;
}

.navbar-nav {
    margin-left: auto;
}

.navbar-nav .nav-item {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 50px;
}


.navbar-nav .nav-item i {
    color: white;
    font-weight: bold;
}

.navbar-nav a {
    color: white;
    height: 100%;
}

.navbar-nav a:hover {
    color: #009688;
}

.card .card-header h2 {
    text-align: center;
}